* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 32px;
    width: 99%;
    max-width: 1600px;
    height: 100%;
    border: 5px solid;
}

/*GRID GRID GRID */
body{
    display: grid;
    grid-template-areas:
        "header     header      header      header"
        "nav        nav         nav         nav"
        "main       main        main        aside"
        "footer     footer      footer      footer";   
}


header{
    background-image: url(../assets/fondoheader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    text-align: center;
    grid-area: header;
}

h1{
    background-color: #eee2de8f;
    font-family: cinzel, serif;
    font-size: 2em;
    margin-top: 250px;
    border-bottom: 5px #2B2A4C solid;
    border-top: 5px #2B2A4C solid;
}

.logo{
    border-radius:50%;
    width: 330px;
    margin-top: 5px;
    margin-bottom: 25px;
}

nav {
    background-color: #2b2a4cec;
    position: sticky;
    top: 0;
    font-size: 0.8em;
    grid-area: nav;
}

.logonav{
    width: 100px;
    border-radius: 50%;
}

nav ul {  /*FLEX FLEX FLEX*/
    font-family: cinzel, serif;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-top: 3px solid black;
}

a{
    color: #ea906cb7;
    font-weight: 800;
    text-decoration: none;
}

.li {
    padding: 5px 15px 5px 15px;
    align-self: center;
}

.liservicios{
    background-color: #EEE2DE;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.553) 3px solid;
    padding: 20px;
    align-self: center;
}

section{
    background-color: #2b2a4c55;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;
}

.parrafo{
    background-color: #f7f7f700;
    text-align: center;
    padding-left: 10px ;
}

main{
    font-size: 0.7em;
    background-color: #EEE2DE;
    font-family: annapurna SIL;
    text-align: left;
    grid-area: main;
}
h2 {
    font-family: cinzel, serif;
    font-size: 1.7em;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 3px #2B2A4C double ;
}

h3{
    font-family: cinzel, serif;
    margin-left: 128px;
}

h4{
    font-family: cinzel, serif;
    font-size: 0.8em;
    margin-bottom: 16px;
    border-bottom: 3px double black;
    border-left: 3px double black;
}

.imgfacultad {
    width: 100%;
    margin-top: 30px;
}

.contenedorflex{
    background-color: #ea906c6f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin: 0;
}

.abogadosflex {
    background-color: #ea906c6f;
    border: 3px solid #2B2A4C;
    width: 250px;
    margin: 10px;
    padding: 10px;
}

.abogadosflex img {
    width: 100%;
}

aside{
    display: flex;
    flex-flow: column;
    background-color: #B31312;
    grid-area: aside;
}

aside section {
    background-color: #2b2a4c55;
    margin: 10px;
}

aside section h3 {
    margin: 0;
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 1.2em;
    text-align: center;
}

aside section article{
    margin-bottom: 80px;
}

aside a img{
    width: 100%;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.6em;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: #2B2A4C;
    color: bisque;
    grid-area: footer;
}

footer section ul li {
    list-style: none;
    margin: 10px 0 0 0;
}

.footer_logo{
    width: 200px;
    border-radius: 50%;
}

.footer_h2{
    margin: 0 0 10px 0;
}

@media (max-width: 934px) {
    body{
        display: grid;
        grid-template-areas:
                    "header"
                    "nav"
                    "main"
                    "aside"
                    "footer";   
    }

    .logonav {
        width: 0;
    }

    aside {
        flex-direction: row;
    }

    .footer_logo{
        width: 0;
    }
}




@media (max-width: 834px){
    
    body{
        font-size: 28px
    }

    h1{
        margin-top: 140px;
    }

    .logo{
        width: 125px;
    }

    nav ul{
        padding: 0;
        font-size: 0.8em;
    }
}

@media (max-width : 642px){

    header{
        background-size: auto;
}

    h1 {
        font-size: 1em;
        margin-top: 100px;
    }

    .parrafo {
        margin: 20px 0 30px 0;
        padding: 0;
    }

    section{
        margin: 5px;
    }

    section h3{
        margin-left: 45px;
    }

    nav {
        position: static;
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li{
        border-bottom:3px solid black ;
    }

    aside{
        flex-flow: column;
    }
    
    footer {
        padding-bottom: 20px;
        flex-direction: column;
    }
}
