* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 32px;
    width: 99%;
    max-width: 1600px;
    height: 100%;
    border: 5px solid;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
}

.body_pages{
    grid-template-areas:
        "nav nav nav nav"
        "main main main aside"
        "footer footer footer footer"
}

header{
    background-image: url(../assets/fondoheader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    text-align: center;
    grid-area: header;
}

h1{
    background-color: #eee2de8f;
    font-family: cinzel, serif;
    font-size: 2em;
    margin-top: 250px;
    border-bottom: 5px #2B2A4C solid;
    border-top: 5px #2B2A4C solid;
    box-shadow: 0px 0px 100px 10px #2b2a4ca8;
}

.logo{
    border-radius:50%;
    width: 330px;
    margin-top: 5px;
    margin-bottom: 25px;
}

nav {
    background-color: #2b2a4cec;
    position: sticky;
    top: 0;
    font-size: 0.8em;
    box-shadow: 0px 25px 50px 10px #2b2a4c79;
    grid-area: nav;
}

.nav_ul {
    font-family: cinzel, serif;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-top: 3px solid black;
}

.nav_logo{
    width: 100px;
    border-radius: 50%;
}

.nav_ul_li {
    padding: 5px 15px 5px 15px;
    align-self: center;
}

.nav_ul_li_ubicacion_actual{
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    align-self: center;
}

a{
    color: #ea906cb7;
    font-weight: 800;
    text-decoration: none;
}

main{
    font-size: 0.7em;
    background-color: #EEE2DE;
    font-family: annapurna SIL;
    text-align: left;
    grid-area: main;
}

.texto_principal{
    background-color: #f7f7f700;
    text-align: center;
    padding-left: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
}

h2 {
    font-family: cinzel, serif;
    font-size: 1.7em;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 3px #2B2A4C double ;
}

article{
    background-color: #2b2a4c55;
    text-align: left;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;
}

h3{
    font-family: cinzel, serif;
    margin-left: 110px;
    text-decoration: underline;
}

ol{
    list-style: none;
    margin: 10px;
}

ol li{
    border-left: 2px solid #2B2A4C;
    margin-top: 5px;
}

.imgseparadora {
    width: 100%;
    margin-top: 30px;
}

h4{
    font-family: cinzel, serif;
    font-size: 0.8em;
    margin-bottom: 16px;
    border-bottom: 3px double black;
    border-left: 3px double black;
}

.contenedor_flex{
    background-color: #ea906c6f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 0px #2b2a4ca8;
}

.carta_flex {
    background-color: #ea906c6f;
    border: 3px solid #2B2A4C;
    width: 250px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px #2b2a4ca8;
}

.carta_flex img {
    width: 100%
}

.contenedor_testimonios{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*----.Card es de bootstrap--- 
-------viene en RELATIVE-----
-------lo cambie por que interactua con mi NAV:STICKY----
-------tarde un monton en buscar la falla
-------ahora no se rompe la pagina "TESTIMONIOS"
        ESTOY TRISTE---*/         
.card{
    position:static ;
}

aside{
    background-color: #B31312;
    grid-area: aside;
}


aside section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2b2a4c55;
    margin: 10px;
}

aside section h3 {
    margin: 0;
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 1.2em;
    text-align: center;
}

aside section article{
    margin-bottom: 80px;
}

aside section article h4{
    text-shadow: 0px 0px 7px #EEE2DE;
}

aside a img{
    width: 100%;
}

.aside_parrafo_testimonios{
    font-family: annapurna SIL;
    font-size: 0.8em;
    color: #0f0f30;
    margin: 0;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.6em;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: #2B2A4C;
    color: bisque;
    grid-area: footer;
}

footer section ul li {
    list-style: none;
    margin: 10px 0 0 0;
}

.footer_logo{
    width: 200px;
    border-radius: 50%;
}

.footer_h2{
    margin: 0 0 10px 0;
}

@media (max-width: 934px) {
    .body_pages{
        display: grid;
        grid-template-areas:
                    "header"
                    "nav"
                    "main"
                    "aside"
                    "footer";   
    }

    .nav_logo {
        width: 0;
    }

    article{
        width: 280px;
        margin: 0px;
    }

    .footer_logo{
        width: 0;
    }
}




@media (max-width: 834px){
    
    .body_pages{
        font-size: 28px
    }

    h1{
        margin-top: 140px;
    }

    .logo{
        width: 260px;
    }

    .nav_ul{
        padding: 0;
        font-size: 0.8em;
    }
}

@media (max-width : 642px){

    header{
        background-size: auto;
}

    h1 {
        font-size: 1.1em;
        margin-top: 200px;
    }

    .texto_principal {
        margin: 20px 0 30px 0;
        padding: 0;
    }

    section h3{
        margin: 0px;
        padding: 20px;
    }

    .contenedor_flex{
        margin: 5px;
    }

    nav {
        position: static;
    }

    .nav_ul {
        flex-direction: column;
    }
    
    footer {
        padding-bottom: 20px;
        flex-direction: column;
    }
}
